*{
    box-sizing: border-box;
}

body{
    background-color: #FEFEFE;
    color: #121212;
    margin: 10px;
}

ul{
    margin: auto;
    width: 80%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

header{
    display: flex;
    justify-content: center;
}
form{
    margin: 5px 0px;
}

